[tool.poetry]
name = "tabeline"
version = "0.2.0"
description = "A data frame and data grammar library"
authors = ["David Hagen <david@drhagen.com>"]
license = "MIT"
readme = "README.md"
documentation = "https://tabeline.drhagen.com"
repository = "https://github.com/drhagen/tabeline"
keywords = ["dataframe", "datatable", "datagrammar", "dplyr"]
classifiers = [
    "Development Status :: 3 - Alpha",
    "Intended Audience :: Science/Research",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Operating System :: OS Independent",
]


[tool.poetry.dependencies]
python = "^3.9"
polars = "^0.17.5"
parsita = "^1.7.0"
typing_extensions = "^4.3.0"
pandas = { version = "^1.4.3", optional = true }
pyarrow = { version = "^11.0.0", optional = true }

[tool.poetry.dev-dependencies]
nox_poetry = "^1.0.2"

# Converters
pyarrow = "^11.0.0"
pandas = "^1.4"

# Test
pytest = "^7.1.1"
coverage = { version = "^6.3.2", extras = ["toml"] }
pytest-cov = "^3.0.0"

# Black
black = ">=22.3.0"

# Isort
isort = "^5.9.3"

# Flake8
flake8 = "^4.0.1"
pyproject-flake8 = "^0.0.1a3"
pep8-naming = "^0.12.1"
flake8-noqa = "^1.2.1"

# Docs
mkdocs-material = "^8.2.8"

[tool.poetry.extras]
pandas = ["pandas", "pyarrow"]


[tool.pytest.ini_options]
xfail_strict = true


[tool.coverage.run]
branch = true

[tool.coverage.report]
exclude_lines = [
    "pragma: no cover",
    "raise NotImplementedError",
    "if TYPE_CHECKING:",
]

[tool.coverage.paths]
source = [
    "src/",
    ".nox/test*/lib/python*/site-packages/",
    ".nox/test*/Lib/site-packages/",
]


[tool.black]
line-length = 99
preview = true


[tool.isort]
profile = "black"
line_length = 99
extra_standard_library = ["typing_extensions"]


[tool.flake8]
max-line-length = 99
noqa-require-code = true
# F821: undefined-name; Parsita triggers this, but code coverage will catch it
extend-ignore = ["F821"]


[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
